@model CudJobUI.ViewModels.StudentProfile

@if (Model.Memberships != null)
{
    <div class="card mb-3">
        <div class="profileheader">
            <div class="row py-3">
                <div class="col-lg-5">
                    <h4 class="shortheading">Memberships</h4>
                </div>
                <div class="col-lg-7">
                    <a onclick="Showpopup('@Url.Action("EditMembership","Student",new { id = Model.StudentPersonal.StudentID,Typeof = "Add"},Context.Request.Scheme)', 'Add Membership')" class="Section-links float-right"><span class="fa fa-plus" aria-hidden="true"></span> Add New</a>
                    <a onclick="Showpopup('@Url.Action("EditMembership","Student",new { id = Model.StudentPersonal.StudentID,Typeof = "Edit"},Context.Request.Scheme)', 'Edit Membership')" class="Section-links float-right mr-3"><span class="fa fa-pen" aria-hidden="true"></span> Edit</a>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            @foreach (var item in Model.Memberships)
            {
                <div class="outer_div mb-2">
                    <i class="fas fa-trash-alt float-right" onclick="DeleteStudentModules('Memberships','@item.MembershipID');"></i>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Memberships[0].Organisation)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.Organisation)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Memberships[0].Role)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.Role)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Memberships[0].StartDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.StartDate)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Memberships[0].EndDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => item.EndDate)
                        </dd>
                    </dl>
                </div>
            }
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.StudentPersonal.StudentID, @class = "btn btn-primary" })*@
        </div>
    </div>
}