@model IEnumerable<CudJobUI.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
   
}
<div class="container-fluid p-4">
    <div class="card">
        <div class="card-header">
            <h4 class="Sectiontittle shortheading">Companies List</h4>
        </div>
        <div class="card-body">
            <div class="col col-12">
                <table id="example" class="table table-striped table-bordered text-center tablelist">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Companies.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Companies.Website)
                            </th>
                            @*<th>Sector</th>
                            <th>Industry</th>*@
                            <th>Active Vacancies</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Companies.CategoryID)
                            </th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:20%;">
                                    @Html.ActionLink(item.Companies.CompanyName, "Details", new { id = item.Companies.CompanyID })
                                </td>
                                <td style="width:25%;">
                                    @Html.DisplayFor(modelItem => item.Companies.Website)
                                </td>
                                @*<td></td>
                                <td></td>*@
                            <td>
                                <a href="@Url.Action("JobsByCompany", "Job", new { id = item.Companies.CompanyID })" class="text-danger">
                                    <span><i class="fas fa-user-md me-2"></i></span> <span>Opportunities</span>
                                </a>
                            </td>
                                <td style="width:20%;">
                                    @Html.DisplayFor(modelItem => item.Companycategory.Category)
                                </td>
                                <td style="width:10%;">
                                    @if (item.Companies.StatusIDs == 1)
                                    {
                                        <p>Not Opened</p>
                                    }
                                    else if (item.Companies.StatusIDs == 2)
                                    {
                                        <p>Approved</p>
                                    }
                                    else if (item.Companies.StatusIDs == 3)
                                    {
                                        <p>Rejected</p>
                                    }
                                    else
                                    {
                                        <p>No Status Updated</p>
                                    }
                                </td>
                                <td style="width:25%;">
                                    <a href="@Url.Action("Edit", "Company", new { id = item.Companies.CompanyID })" class="text-danger">
                                        <span><i class="fa fa-pen"></i></span> <span>Edit</span>
                                    </a><span class="mx-2">|</span>
                                    @*<a href="@Url.Action("Delete", "Company", new { id = item.Companies.CompanyID })" class="text-danger">*@
                                    <a href="#" onclick="delete_Company(@item.Companies.CompanyID)" class="text-danger">
                                        <span><i class="fa fa-trash"></i></span> <span>Delete</span>
                                    </a> <span class="mx-2">|</span>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="updatestatus(@item.Companies.CompanyID,@item.Companies.NotesID)" class="text-danger"><i class="fa fa-pencil-alt" aria-hidden="true"></i> update status</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form" name="form" asp-action="UploadFilesAjax" asp-controller="Student" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"> Interview Status </label>
                                    <select id="status" required class="form-control" asp-items="@(new SelectList(ViewBag.Statuses, "StatusIDs", "MyProperty"))"></select>
                                    <input type="text" name="CompanyID" id="CompanyID" value="" style="display:none;" />
                                    <input type="text" name="NotesID" id="NotesID" value="" style="display:none;" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"> Description </label>
                                    <textarea id="Desc" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updatestatus" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div>
    <partial name="~/Views/Shared/Partials/_CompanyListPartial.cshtml" model="Model" view-data="ViewData" />
</div>*@
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#example').DataTable();
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5', 'print'
                ]
            });


            $("#updatestatus").click(function (evt) {
                evt.preventDefault();
                var data = new FormData();
                data.append("status", $("#status").val())
                data.append("Desc", $("#Desc").val())
                data.append("CompanyID", $("#CompanyID").val())
                data.append("NotesID", $("#NotesID").val())
                $.ajax({
                    type: "post",
                    url: '@Url.Action("UpdateCompanyStatus", "Company")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (res) {
                        if (res.isValid) {
                            $("#exampleModal").modal("hide");
                            $.notify("Uploaded Successfully", { globalPosition: 'top ceneter', className: 'success' });
                            window.location.reload();
                        }
                        else {

                        }
                    },
                    error: function () {
                        alert("there was error uploading files!");
                    }
                });
            });

        });

        function updatestatus(CompanyID, NotesID) {
            //var jbid = Appliedid;
            $("#CompanyID").val(CompanyID);
            $("#NotesID").val(NotesID);
        }

        function delete_Company(Cmpid) {

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to delete the Company?',
                buttons: {
                    confirm: function () {

                        var data = new FormData();
                        data.append("id", Cmpid);
                            $.ajax({
                                type: "post",
                                url: '@Url.Action("DeleteCmp", "Company")',
                                contentType: false,
                                processData: false,
                                data: data,
                                success: function (res) {
                                    if (res.isValid) {
                                        $.confirm({
                                            title: 'Alert',
                                            content: 'Company deleted successfully!',
                                            buttons: {
                                                confirm: function () {
                                                    window.location.reload();
                                                }
                                            }
                                        });
                                    }
                                    else {

                                    }
                                },
                                error: function () {
                                    alert("there was error deleting job!");
                                }
                            });
                    }
                }
            });

        }


    </script>
}
