@model IList<CudJobUI.ViewModels.Languages>
@{
    ViewData["Title"] = "EditLanguages";
    Layout = null;
}

<div class="container">
    <div class="container-fluid bg-transparent blue">
        <h3>Edit Languages</h3>
    </div>
    <form asp-action="EditLanguages" asp-route-id="@Model[0].StudentID" onsubmit="return jQueryAjaxPost(this,'Myprofilelanguages');">
        <div class="card mb-3">
            <div class="card-header" style="color: #d5202a;font-weight:bold;">
                Language Details
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="outer_div">
                        @*<div class="row">
                                <div class="col-lg-6">
                                    <label asp-for="@Model[i].LanguageID" class="control-label"></label>
                                    <input asp-for="@Model[i].LanguageID" class="form-control rssOrganisation" />
                                </div>
                                <div class="col-lg-6">
                                    <label asp-for="@Model[i].LevelID" class="control-label"></label>
                                    <input asp-for="@Model[i].LevelID" class="form-control rssMembRole" />
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-6">
                                <label asp-for="@Model[i].LanguageID" class="control-label"></label>
                                <select asp-for="@Model[i].LanguageID" required class="form-control rsslanguageName" asp-items="@(new SelectList(ViewBag.langNames, "LanguageID", "Language"))"></select>

                            </div>
                            <div class="col-lg-6">
                                <label asp-for="@Model[i].LevelID" class="control-label"></label>
                                <select asp-for="@Model[i].LevelID" required class="form-control rsslanguageLevel" asp-items="@(new SelectList(ViewBag.langlevels, "LevelID", "Levels"))"></select>
                            </div>
                        </div>
                        <div style="display:none;">
                            <div class="form-group">
                                <label asp-for="@Model[i].StudentID" class="control-label"></label>
                                <input asp-for="@Model[i].StudentID" class="form-control" />
                                <span asp-validation-for="@Model[i].StudentID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model[i].ID" class="control-label"></label>
                                <input asp-for="@Model[i].ID" class="form-control" />
                                <span asp-validation-for="@Model[i].ID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                <button type="submit" class="btn btn-danger float-right mt-3"> Save Languages </button>
            </div>
        </div>
    </form>
</div>

